<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <!--[html-partial:begin:{"id":"demo1/dist/inc/view/demos/pages/index","page":"index"}]/-->

    <!--[html-partial:begin:{"id":"demo1/dist/inc/view/partials/content/dashboards/demo1","page":"index"}]/-->

    <!--begin::Dashboard-->

    <div
      class="alert alert-custom alert-white alert-shadow gutter-b"
      role="alert"
    >
      <div class="alert-icon">
        <span class="svg-icon svg-icon-primary svg-icon-xl">
          <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Tools/Compass.svg-->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            version="1.1"
          >
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect x="0" y="0" width="24" height="24"></rect>
              <path
                d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z"
                fill="#000000"
                opacity="0.3"
              ></path>
              <path
                d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z"
                fill="#000000"
                fill-rule="nonzero"
              ></path>
            </g>
          </svg>
          <!--end::Svg Icon-->
        </span>
      </div>
      <div class="alert-text">
        Word Analyzer is a free tool that allows you to conduct a word analysis
        on virtually any text written in English. The system computes a score
        which reflects the overall tone or emotional feeling of your input text.
        Analyzed scores range from -100 to +100, where -100 indicates a very
        negative or serious tone and +100 indicates a very positive or
        enthusiastic tone. To perform your word analysis, simply type or paste
        some text into the box below and click the "Analyze Text!" button, or
        uploade a Text(.txt) file in the other section an click on "Upload
        button".
      </div>
    </div>

    <div class="card card-custom">
      <div class="card-header">
        <h3 class="card-title">Free Word Analyzer</h3>
      </div>
      <!--begin::Form-->
      <form class="form">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-lg-6 col-xl-6">
              <label for="exampleTextarea"></label>
              <textarea
                class="form-control analyze-text form-control-solid"
                rows="3"
              ></textarea>
            </div>

            <div
              class="form-group col-lg-6 col-xl-6"
              style="text-align: center !important"
            >
              <canvas id="canvas"></canvas>
              <span class="form-text">
                <b>Intepretation:</b> This text has a sentiment score of
                <span id="scored">0.0</span>. This means that the overall tone
                of this text is essentially <span id="tone">neutral</span></span
              >
            </div>
          </div>

          <div class="form-group row">
            <label for="exampleTextarea">Upload .txt File:</label>
            <div class="col-lg-9">
              <div class="dropzone dropzone-multi" id="kt_dropzone_4">
                <div class="dropzone-panel mb-lg-0 mb-2">
                  <a
                    class="dropzone-select btn btn-light-primary font-weight-bold btn-sm"
                    >Attach files</a
                  >
                  <a
                    class="dropzone-upload btn btn-light-primary font-weight-bold btn-sm"
                    >Upload All</a
                  >
                  <!-- <a
                    class="dropzone-remove-all btn btn-light-primary font-weight-bold btn-sm"
                    >Upload file</a
                  > -->
                </div>
                <div class="dropzone-items">
                  <div class="dropzone-item" style="display: none">
                    <div class="dropzone-file">
                      <div
                        class="dropzone-filename"
                        title="some_image_file_name.jpg"
                      >
                        <span data-dz-name="">some_image_file_name.jpg</span>
                        <strong>( <span data-dz-size="">340kb</span>)</strong>
                      </div>
                      <div class="dropzone-error" data-dz-errormessage=""></div>
                    </div>
                    <div class="dropzone-progress">
                      <div class="progress">
                        <div
                          class="progress-bar bg-primary"
                          role="progressbar"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          aria-valuenow="0"
                          data-dz-uploadprogress=""
                        ></div>
                      </div>
                    </div>
                    <div class="dropzone-toolbar">
                      <span class="dropzone-start">
                        <i class="flaticon2-arrow"></i>
                      </span>
                      <span
                        class="dropzone-cancel"
                        data-dz-remove=""
                        style="display: none"
                      >
                        <i class="flaticon2-cross"></i>
                      </span>
                      <span class="dropzone-delete" data-dz-remove="">
                        <i class="flaticon2-cross"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <span class="form-text text-muted"
                >Max file size is 1MB and file must be a txt file</span
              >
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button type="button" class="btn analyze-btn btn-primary mr-2">
            Analyze Text
          </button>
          <button type="reset" class="btn btn-secondary resetBtn">Reset</button>
        </div>
      </form>
      <!--end::Form-->
    </div>
    <!--end::Row-->

    <!--end::Dashboard-->

    <!--[html-partial:end:{"id":"demo1/dist/inc/view/partials/content/dashboards/demo1","page":"index"}]/-->

    <!--[html-partial:end:{"id":"demo1/dist/inc/view/demos/pages/index","page":"index"}]/-->
  </div>

  <!--end::Container-->
</div>

<!--end::Entry-->
